<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
  <div class="units-row units-padding">		
    <div class="unit-40"><!--about-->
      <h3>about</h3>
      <p>I am an Assistant Professor of <a href="http://medicine.buffalo.edu/departments/pathology.html">Pathology and Anatomical Sciences</a> at <a href="http://buffalo.edu">The University at Buffalo SUNY</a>. Read more about me <a href="about/">here</a>, or download my <a href="files/cv/scottdoy_vita.pdf">CV</a>.</p>
    </div><!--end about-->
    <div class="unit-30"><!--contact--> 
      <h3>Where</h3>
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" style="font-size:80%;padding-top:1px;"></i>Department of Pathology and Anatomical Sciences, Room 4205, University at Buffalo, Buffalo, New York 14203.</li>
        <li><i class="fa-li fa fa-envelope fa-fw" style="font-size:80%;padding-top:1px;"></i><a href="mailto:scottdoy@buffalo.edu">scottdoy@buffalo.edu</a></li>
        <li><i class="fa-li fab fa-twitter-square fa-fw" style="font-size:80%;padding-top:1px;"></i><a href="http://twitter.com/scottdoy_">@scottdoy_</a> on Twitter.</li>
        <li><i class="fa-li fab fa-github fa-fw" style="font-size:80%;padding-top:1px;"></i><a href="http://github.com/scottdoy">On GitHub</a>.</li>
        <li><i class=""></li>
      </ul>
    </div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To be notified of updates, you can
				subscribe to the <a href="/index.xml"><i class="fa fa-rss-square"></i>&nbsp;RSS feed</a> for the site.</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="scottdoy.com"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
